body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0;

  .content {
    min-height: 100vh;
    @media (max-width: 768px) {
      margin-left: 20px;
      margin-right: 20px;
    }
    @media (min-width: 768px) {
      margin-left: 100px;
      margin-right: 100px;
    }
    main {
      flex: 1;
    }
  }
}
