.logement-slider-container {
  position: relative;

  .logement-slider {
    width: 100%;
    object-fit: cover;
  }
  .slider-navigation {
    .slider-chevron-left {
      height: 80px;
      position: absolute;
      top: 40%;
      left: 23px;
    }
    .slider-chevron-right {
      height: 80px;
      position: absolute;
      top: 40%;
      right: 23px;
      cursor: pointer;
    }
    .logement-slider-position {
      position: absolute;
      bottom: 0;
      right: 49%;
      font-size: 18px;
      color: #fff;
      bottom: 25px;
    }
  }
}
@media (min-width: 768px) {
  .logement-slider-container {
    margin-top: 50px;
    margin-bottom: 30px;
    .logement-slider {
      height: 415px;
      border-radius: 25px;
    }
  }
}
@media (max-width: 768px) {
  .logement-slider-container {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-bottom: 15px;
    .logement-slider {
      height: 255px;
      border-radius: 10px;
    }
    .slider-navigation {
      .slider-chevron-left {
        height: 20px;
        position: absolute;
        top: 45%;
        left: 6px;
        cursor: pointer;
      }
      .slider-chevron-right {
        height: 20px;
        position: absolute;
        top: 45%;
        right: 6px;
      }
      .logement-slider-position {
        display: none;
      }
    }
  }
}
