.tag {
    display: flex;
    background-color: #FF6060;
    height: 25px;
    width: 115px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 700;
}


.tag {
    display: flex;
    background-color: #FF6060;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 700;
    
    @media (max-width: 768px) {
        height: 18px;
        width: 84px;
        font-size: 10px;
    }
  
    @media (min-width: 769px) {
        height: 25px;
        width: 115px;
        font-size: 14px;
    }
}
  